<h2 class="mb-4">Crear siniestro</h2>
<form>
    <div class="row">
        <div class="col">
            <label class="form-label">Estado</label>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <label class="form-label mt-4">Compañía Aseguradora</label>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <label class="form-label mt-4">Dirección</label>
            <input type="text" class="form-control anchuraMitad">

            <label class="form-label mt-4">Descripción</label>
            <textarea class="form-control anchura60porCiento" rows="3"></textarea>

            <label class="form-label mt-4">Daños</label>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col">
            <label class="form-label">Sujeto afectado</label>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <label class="form-label mt-4">Perito</label>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-5">Crear</button>
</form>