<app-spinner *ngIf="mostrarSpinner"></app-spinner>
<div *ngIf="!mostrarSpinner">
    <h2 class="mb-4">Crear usuario</h2>
    <form *ngIf="formCrearUsuario != undefined" [formGroup]="formCrearUsuario" (ngSubmit)="enviar()">
        <div class="row">
            <div class="col">
                <label class="form-label mt-4">Nombre</label>
                <input type="text" class="form-control anchuraMitad" formControlName="nombre">
                <div class="invalid-feedback" *ngIf="formCrearUsuario.get('nombre')?.touched && !formCrearUsuario.get('nombre')?.valid">El nombre es obligatorio</div>
    
                <label class="form-label mt-4">Contraseña</label>
                <input type="password" class="form-control anchuraMitad" formControlName="contrasenia">
                <div class="invalid-feedback" *ngIf="formCrearUsuario.get('contrasenia')?.touched && !formCrearUsuario.get('contrasenia')?.valid">La contraseña es obligatoria</div>
    
                <label class="form-label mt-4">Repetir Contraseña</label>
                <input type="password" class="form-control anchuraMitad" formControlName="repetirContrasenia">            
                <div class="invalid-feedback" *ngIf="formCrearUsuario.get('repetirContrasenia')?.errors?.contraseniasNoIguales || (formCrearUsuario.get('repetirContrasenia')?.touched &&
                                                     !formCrearUsuario.get('repetirContrasenia')?.valid)">Las contraseñas no coinciden</div>               
    
                <label class="form-label mt-4">Permiso</label>
                <select class="form-select" formControlName="permiso" (change)="permisoSeleccionado($event)">
                    <option *ngFor="let permiso of permisos" [value]="permiso.id">{{ permiso.nombre }}</option>
                </select>
    
                <div *ngIf="esPeritoNoResponsable">
                    <label class="form-label mt-4">Importe Reparación Daños</label>
                    <input type="text" class="form-control anchuraMitad" (keydown)="comprobarLetraPulsada($event)" formControlName="impReparacionDanios">
                    <div class="invalid-feedback" *ngIf="formCrearUsuario.get('impReparacionDanios')?.touched && !formCrearUsuario.get('impReparacionDanios')?.valid">El importe de reparación de daños es obligatorio</div>
                </div>            
            </div>
            <div class="col">
            </div>
        </div>
    
        <button type="submit" [disabled]="!formCrearUsuario.valid" class="btn btn-primary mt-5">Crear</button>
    </form>
</div>