<app-spinner></app-spinner>
<div>
    <h2>Listado siniestros</h2>
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-flex justify-content-start">
                <div class="me-5" *ngIf="tienePermisoAdministracion">
                    <label class="form-label">Perito</label>
                    <select class="form-select" [(ngModel)]="idPeritoSeleccionado" (change)="filtrarSiniestros()">
                        <option *ngFor="let perito of peritos" [value]="perito.id">{{ perito.nombre }}</option>
                    </select>
                </div>
                <div>
                    <label class="form-label">Aseguradora</label>
                    <select class="form-select" [(ngModel)]="idAseguradoraSeleccionada" (change)="filtrarSiniestros()">
                        <option *ngFor="let aseguradora of aseguradoras" [value]="aseguradora.id">{{ aseguradora.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <button type="button" class="btn btn-secondary mt-4" (click)="eliminarFiltros()">Eliminar filtros</button>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-3" *ngIf="tienePermisoAdministracion">
        <i title="Crear" (click)="crear()" class="fas fa-plus"></i>
    </div>
    <div class="table-responsive">
        <app-listado-siniestros-administracion (eventoVerDetalles)="verDetalles($event)"></app-listado-siniestros-administracion>
    </div>
</div>