<h2 class="mb-4">Listado siniestros</h2>
<div class="d-flex justify-content-end mb-3">
    <i title="Crear" class="fas fa-plus"></i>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Estado</th>
                <th scope="col">Aseguradora</th>
                <th scope="col">Descripción</th>
                <th scope="col">Perito</th>
                <th scope="col">Fecha/Hora Alta</th>
                <th scope="col">Sujeto Afectado</th>
                <th scope="col">Imp. Valoración Daños</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let siniestro of siniestros">
                <td class="align-middle">{{ siniestro.id }}</td>
                <td class="align-middle">{{ siniestro.estado }}</td>
                <td class="align-middle">{{ siniestro.aseguradora }}</td>
                <td class="align-middle">{{ siniestro.descripcion }}</td>
                <td class="align-middle">{{ siniestro.perito }}</td>
                <td class="align-middle">{{ siniestro.fechaHoraAlta }}</td>
                <td class="align-middle">{{ siniestro.sujetoAfectado }}</td>
                <td class="align-middle">{{ siniestro.impValoracionDanios }}</td>
                <td class="align-middle">
                    <i title="Editar" class="fas fa-pencil-alt"></i>                    
                </td>
                <td class="align-middle">
                    <i title="Eliminar" class="fas fa-trash-alt"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>