<div>
    <h2 class="mb-4" *ngIf="accionFormulario == accionFormularioEnum.Editar">Editar siniestro</h2>
    <h2 class="mb-4" *ngIf="accionFormulario == accionFormularioEnum.Crear">Crear siniestro</h2>
    <form *ngIf="formCrearEditarSiniestro" [formGroup]="formCrearEditarSiniestro" (ngSubmit)="enviar()">
        <div class="row">
            <div class="col-md-6 col-12">
                <div *ngIf="accionFormulario == accionFormularioEnum.Editar">
                    <label class="form-label">Estado</label>
                    <select class="form-select" formControlName="estado" (change)="comprobarEstadoSeleccionado()">
                        <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nombre }}</option>
                    </select>
                </div>

                <label class="form-label mt-4" *ngIf="accionFormulario == accionFormularioEnum.Editar">Compañía Aseguradora</label>
                <label class="form-label" *ngIf="accionFormulario == accionFormularioEnum.Crear">Compañía Aseguradora</label>
                <select class="form-select" formControlName="aseguradora">
                    <option *ngFor="let aseguradora of aseguradoras" [value]="aseguradora.id">{{ aseguradora.nombre }}</option>
                </select>

                <label class="form-label mt-4">Dirección</label>
                <input type="text" class="form-control" id="txtDireccion" formControlName="direccion">
                <div class="invalid-feedback" *ngIf="formCrearEditarSiniestro.get('direccion')?.touched && !formCrearEditarSiniestro.get('direccion')?.valid">La dirección es obligatoria</div>

                <label class="form-label mt-4">Descripción</label>
                <textarea class="form-control" id="txtDescripcion" rows="3" formControlName="descripcion"></textarea>
                <div class="invalid-feedback" *ngIf="formCrearEditarSiniestro.get('descripcion')?.touched && !formCrearEditarSiniestro.get('descripcion')?.valid">La descripción es obligatoria</div>

                <label class="form-label mt-4">Daño</label>
                <select class="form-select" formControlName="danio">
                    <option *ngFor="let danio of danios" [value]="danio.id">{{ danio.nombre }}</option>
                </select>
            </div>
            <div class="col-md-6 col-12" id="segundoApartado">
                <label class="form-label">Sujeto afectado</label>
                <select class="form-select" formControlName="sujetoAfectado">
                    <option value="0">Asegurado</option>
                    <option value="1">Contrario</option>
                </select>

                <label class="form-label mt-4">Perito</label>
                <select class="form-select" formControlName="perito">
                    <option *ngFor="let perito of peritos" [value]="perito.id">{{ perito.nombre }}</option>
                </select>

                <div *ngIf="accionFormulario == accionFormularioEnum.Editar && mostrarCampoImpValDanios">
                    <label class="form-label mt-4">Importe valoración daños</label>
                    <input type="text" class="form-control anchuraMitad" formControlName="impValoracionDanios" appNumerosDecimales>
                    <div class="invalid-feedback" *ngIf="formCrearEditarSiniestro.get('impValoracionDanios')?.touched && !formCrearEditarSiniestro.get('impValoracionDanios')?.valid">
                        El importe de valoración de daños es obligatorio
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" *ngIf="accionFormulario == accionFormularioEnum.Editar" [disabled]="!formCrearEditarSiniestro.valid" class="btn btn-primary mt-5">Guardar</button>
        <button type="submit" *ngIf="accionFormulario == accionFormularioEnum.Crear" [disabled]="!formCrearEditarSiniestro.valid" class="btn btn-primary mt-5">Crear</button>
    </form>
</div>