<div id="logreg-forms" *ngIf="formInicioSesion !== undefined">
    <form class="form-signin" [formGroup]="formInicioSesion">
        <h1 class="h3 mb-4 font-weight-normal" style="text-align: center">Iniciar Sesión</h1>
        <input type="text" class="form-control mb-3" placeholder="Usuario" formControlName="usuario">
        <div class="invalid-feedback mb-3" *ngIf="formInicioSesion.get('usuario')?.touched && !formInicioSesion.get('usuario')?.valid">
            El usuario es obligatorio
        </div>
        <input type="password" class="form-control mb-3" placeholder="Contraseña" formControlName="contrasenia">
        <div class="invalid-feedback mb-3" *ngIf="formInicioSesion.get('contrasenia')?.touched && !formInicioSesion.get('contrasenia')?.valid">
            La contraseña es obligatoria
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-grid gap-2">
                    <button class="btn btn-success fs-5" [disabled]="!formInicioSesion.valid" type="submit" (click)="iniciarSesion()">
                        <i class="fas fa-sign-in-alt"></i>
                        Entrar
                    </button>
                </div>                
            </div>
        </div>
    </form>
    <br>
</div>
<app-spinner *ngIf="mostrarSpinnerInicioSesion"></app-spinner>