<div id="logreg-forms">
    <form class="form-signin">
        <h1 class="h3 mb-4 font-weight-normal" style="text-align: center">Iniciar Sesión</h1>
        <input type="text" class="form-control mb-4" placeholder="Usuario">
        <input type="password" class="form-control mb-3" placeholder="Contraseña">

        <div class="row">
            <div class="col-12">
                <div class="d-grid gap-2">
                    <button class="btn btn-success fs-5" type="submit">
                        <i class="fas fa-sign-in-alt"></i>
                        Entrar
                    </button>
                </div>                
            </div>
            <div class="col-12">
                <div class="invalid-feedback mt-3">El usuario y/o la contraseña son obligatorios</div>
            </div>
        </div>
    </form>
    <br>
</div>