<h2 class="mb-4">Subir documentación</h2>
<form [formGroup]="formSubirDocumentacion" (ngSubmit)="enviar()">
    <div class="row">
        <div class="col">
            <label class="form-label mt-4">Descripción</label>
            <input type="text" class="form-control anchuraMitad" formControlName="descripcion">
            <div class="error" *ngIf="formSubirDocumentacion.get('descripcion')?.touched &&
                                      !formSubirDocumentacion.get('descripcion')?.valid">La descripción es obligatoria</div>

            <label class="form-label mt-4">Archivo</label>
            <input #archivo class="form-control anchuraMitad" type="file" (change)="comprobarArchivo()">
            <div class="error" *ngIf="!hayArchivoSeleccionado">El archivo es obligatorio</div>            
        </div>
    </div>

    <button type="submit" [disabled]="!formSubirDocumentacion.valid" class="btn btn-primary mt-5 me-3">Subir</button>
    <button type="button" class="btn btn-secondary mt-5" (click)="irAtras()">Atrás</button>
</form>