nav {
    position: sticky;
    top: 0;

    .navbar-brand {
        font-size: 1.5rem;
        color: #FAA41B;
    }

    #sesion {
        width: 100%;
    }

    #usuario {
        color: #ffffff;
    }
}